{% extends 'main_news/base.html' %}
{% load static %}
    {% block title %}ABOUT{% endblock %}
    {% block content %}
        <div class="main-about">
            <div class="container">
                <div class="main-about-content">
                    <div class="about-content-block">
                        <div class="block-header">
                            <img src="{% static 'main_news/img/favorite.svg' %}" alt="the best" class="favorite">
                            <h2 class="block-title">SAMAKAKI</h2>
                        </div>
                        <div class="block-main">
                            <div class="left-piece">
                                <div class="block-logo">
                                    <img src="{% static 'main_news/img/logo.svg' %}" alt="logo" class="block-logo-img">
                                </div>
                                <div class="block-text">
                                    <h3>Lorem ipsum dolor sit amet.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus deserunt doloribus earum est fugiat fugit id minus modi natus nulla qui quo ratione, repellendus repudiandae similique sunt unde. Aliquam?</p>
                                </div>
                            </div>
                            <div class="right-piece"></div>
                        </div>
                    </div>
                    <div class="about-content-block">
                        <div class="block-header">
                            <img src="{% static 'main_news/img/favorite.svg' %}" alt="the best" class="favorite">
                            <h2 class="block-title">SAMAKAKI</h2>
                        </div>
                        <div class="block-main">
                            <div class="left-piece">
                                <div class="block-logo">
                                    <img src="{% static 'main_news/img/logo.svg' %}" alt="logo" class="block-logo-img">
                                </div>
                                <div class="block-text">
                                    <h3>Lorem ipsum dolor sit amet.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus deserunt doloribus earum est fugiat fugit id minus modi natus nulla qui quo ratione, repellendus repudiandae similique sunt unde. Aliquam?</p>
                                </div>
                            </div>
                            <div class="right-piece"></div>
                        </div>
                    </div>
                    <div class="about-content-block">
                        <div class="block-header">
                            <img src="{% static 'main_news/img/favorite.svg' %}" alt="the best" class="favorite">
                            <h2 class="block-title">SAMAKAKI</h2>
                        </div>
                        <div class="block-main">
                            <div class="left-piece">
                                <div class="block-logo">
                                    <img src="{% static 'main_news/img/logo.svg' %}" alt="logo" class="block-logo-img">
                                </div>
                                <div class="block-text">
                                    <h3>Lorem ipsum dolor sit amet.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus deserunt doloribus earum est fugiat fugit id minus modi natus nulla qui quo ratione, repellendus repudiandae similique sunt unde. Aliquam?</p>
                                </div>
                            </div>
                            <div class="right-piece"></div>
                        </div>
                    </div>
                    <div class="about-content-block">
                        <div class="block-header">
                            <img src="{% static 'main_news/img/favorite.svg' %}" alt="the best" class="favorite">
                            <h2 class="block-title">SAMAKAKI</h2>
                        </div>
                        <div class="block-main">
                            <div class="left-piece">
                                <div class="block-logo">
                                    <img src="{% static 'main_news/img/logo.svg' %}" alt="logo" class="block-logo-img">
                                </div>
                                <div class="block-text">
                                    <h3>Lorem ipsum dolor sit amet.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus deserunt doloribus earum est fugiat fugit id minus modi natus nulla qui quo ratione, repellendus repudiandae similique sunt unde. Aliquam?</p>
                                </div>
                            </div>
                            <div class="right-piece"></div>
                        </div>
                    </div>
                    <div class="about-content-block">
                        <div class="block-header">
                            <img src="{% static 'main_news/img/favorite.svg' %}" alt="the best" class="favorite">
                            <h2 class="block-title">SAMAKAKI</h2>
                        </div>
                        <div class="block-main">
                            <div class="left-piece">
                                <div class="block-logo">
                                    <img src="{% static 'main_news/img/logo.svg' %}" alt="logo" class="block-logo-img">
                                </div>
                                <div class="block-text">
                                    <h3>Lorem ipsum dolor sit amet.</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus deserunt doloribus earum est fugiat fugit id minus modi natus nulla qui quo ratione, repellendus repudiandae similique sunt unde. Aliquam?</p>
                                </div>
                            </div>
                            <div class="right-piece"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}