{% extends 'main_news/base.html' %}
{% load static %}
    {% block title %}CONTACT{% endblock %}
    {% block content %}
        <div class="main-contact">
            <div class="container">
                <div class="main-contact-content">
                    <div class="content-blocks">
                        <div class="authors-block">
                            <div class="authors-avatars">
                                <div class="avatar"></div>
                                <div class="avatar"></div>
                                <div class="avatar"></div>
                            </div>
                            <div class="authors-info"></div>
                        </div>
                        <div class="info-blocks">
                            <div class="info-block"></div>
                            <div class="info-block"></div>
                            <div class="info-block"></div>
                        </div>
                        <div class="contact-block">
                            <hr>
                            <div class="info-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}