{% extends 'main_news/base.html' %}
    {% block title %}HOME{% endblock %}
    {% block content %}
        <div class="main-index">
            <div class="container">
                <div class="main-index-content">
                    <div class="main-index-img"></div>
                    <div class="main-index-icons">
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                    </div>
                    <div class="main-index-text">
                        <h3 class="text-title">Lorem ipsum dolor sit amet.</h3>
                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aut consequatur cum dicta eligendi illo minus nam, nesciunt nulla odio, omnis quaerat quas quia quos sit tenetur totam veritatis?</p>
                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aut consequatur cum dicta eligendi illo minus nam, nesciunt nulla odio, omnis quaerat quas quia quos sit tenetur totam veritatis?</p>
                    </div>
                </div>
                <div class="main-index-content">
                    <div class="main-index-text">
                        <h3 class="text-title">Lorem ipsum dolor sit amet.</h3>
                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aut consequatur cum dicta eligendi illo minus nam, nesciunt nulla odio, omnis quaerat quas quia quos sit tenetur totam veritatis?</p>
                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aut consequatur cum dicta eligendi illo minus nam, nesciunt nulla odio, omnis quaerat quas quia quos sit tenetur totam veritatis?</p>
                    </div>
                    <div class="main-index-icons">
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                    </div>
                    <div class="main-index-img"></div>
                </div>
                <div class="main-index-content">
                    <div class="main-index-img"></div>
                    <div class="main-index-icons">
                        <div class="icon"></div>
                        <div class="icon"></div>
                        <div class="icon"></div>
                    </div>
                    <div class="main-index-text">
                        <h3 class="text-title">Lorem ipsum dolor sit amet.</h3>
                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aut consequatur cum dicta eligendi illo minus nam, nesciunt nulla odio, omnis quaerat quas quia quos sit tenetur totam veritatis?</p>
                        <p class="text-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet aut consequatur cum dicta eligendi illo minus nam, nesciunt nulla odio, omnis quaerat quas quia quos sit tenetur totam veritatis?</p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}